p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}
.video-stats {
  font-size: 16;
  color: grey;
  margin-bottom: 20px;
}
.video-author {
  font-size: 10;
  color: grey;
  width: 200; 
  line-height: 20px;
}
.video-description {
  font-size: 8;
  color: grey;
  margin-bottom: 20;
}
.a-text {
  font-size: 14px;
  background-color: rgb(227,65,54);
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-ex {
  cursor: pointer;
  margin-left: 12px;
}
.span-ex:hover {
  text-decoration: underline;
}